<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="article" >
    <select id="searchArticleList" resultMap="searchArticleMap" parameterType="pkg.article.ArticleVO" statementType="CALLABLE">
        {call PKG_ARTICLE.PROC_SEL_ARTICLE(
            #{articleMovieId, jdbcType=VARCHAR, mode=IN}
            ,#{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=searchArticleMap}
            ,#{ErrMsg, mode=OUT, jdbcType=VARCHAR, javaType=string}
            ,#{sqlCode, mode=OUT, jdbcType=VARCHAR, javaType=string}
            ,#{sqlErrm, mode=OUT, jdbcType=VARCHAR, javaType=string}
            )}
    </select>

    <resultMap id="searchArticleMap" type="pkg.article.ArticleVO">
        <result property="articleID" column="ARTICLEID"></result>
        <result property="articleAuthor" column="ARTICLEAUTHOR"></result>
        <result property="articleContent" column="ARTICLECONTENT"></result>
        <result property="articleRegdate" column="ARTICLEREGDATE"></result>
        <result property="articleStar" column="ARTICLESTAR"></result>
        <result property="articleMovieId" column="ARTICLEMOVIEID"></result>
    </resultMap>

</mapper>