<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member" >
	<select statementType="CALLABLE" parameterType="pkg.member.MemberVO" id="loginchk">
		{
			call PKG_MEMBER.PROC_MEMEBER_LOGIN(
			#{memberid, jdbcType = VARCHAR, mode = IN}
			,#{memberpass, jdbcType = VARCHAR, mode = IN}
			,#{result, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
			,#{error, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
			,#{error2, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String})
		} 
	</select>

	<select statementType="CALLABLE" parameterType="pkg.member.MemberVO" id="chk">
		{
			call PKG_MEMBER.PROC_MEMBER_CHK(
				#{memberid, jdbcType = VARCHAR, mode = IN}
				,#{memberpass, jdbcType = VARCHAR, mode = IN}
				,#{result, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{error, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{error2, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
			)
		} 
	</select>

	<select statementType="CALLABLE" parameterType="pkg.member.MemberVO" id="insmem">
	{
		call PKG_MEMBER.PROC_MEMBER_INS (
			#{memberid, jdbcType = VARCHAR, mode = IN}
			,#{memberpass, jdbcType = VARCHAR, mode = IN}
			,#{memberprofile, jdbcType = VARCHAR, mode = IN}
			,#{membernickname, jdbcType = VARCHAR, mode = IN}
			,#{memberbirth, jdbcType = VARCHAR, mode = IN}
			,#{membergender, jdbcType = VARCHAR, mode = IN}
			,#{memberhob1, jdbcType = VARCHAR, mode = IN}
			,#{memberhob2, jdbcType = VARCHAR, mode = IN}
			,#{memberhob3, jdbcType = VARCHAR, mode = IN}
			,#{result, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
			,#{error, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
			,#{error2, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
		)
		
	}
 	
 	</select>
 	
	<select statementType="CALLABLE" parameterType="pkg.member.MemberVO" id="updatemem">
	{
		call PKG_MEMBER.PROC_MEMBER_UPDATE (
			#{memberid, jdbcType = VARCHAR, mode = IN}
			,#{memberprofile, jdbcType = VARCHAR, mode = IN}
			,#{membernickname, jdbcType = VARCHAR, mode = IN}
			,#{memberbirth, jdbcType = VARCHAR, mode = IN}
			,#{membergender, jdbcType = VARCHAR, mode = IN}
			,#{memberhob1, jdbcType = VARCHAR, mode = IN}
			,#{memberhob2, jdbcType = VARCHAR, mode = IN}
			,#{memberhob3, jdbcType = VARCHAR, mode = IN}
			,#{result, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
			,#{error, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
			,#{error2, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
		)
		
	}
 	
 	</select>
 	
 	
	<select statementType="CALLABLE" parameterType="pkg.member.MemberVO" id="selmem" resultMap="memberMap">
		{
			call PKG_MEMBER.PROC_MEMBER_SEL(
				#{memberid, jdbcType = VARCHAR, mode = IN}
				,#{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=memberMap}
				,#{error, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{error2, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
			)
		} 
	</select>
	
	
	<select statementType="CALLABLE" parameterType="string" id="memberlist" resultMap="memberMap">
		{
			call PKG_MEMBER.PROC_SHOW_MEMBERLIST(
				#{pagenum, jdbcType = VARCHAR, mode = IN}
				,#{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=memberMap}
				,#{maxpage, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{error, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{errormsg, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
			)
		} 
	</select>
	
	<resultMap type="pkg.member.MemberVO" id="memberMap">
 		<result column="USER_ID" property="memberid"/>
 		<result column="MEMBERBIRTH" property="memberbirth"/>
 		<result column="MEMBERPROFILE" property="memberprofile"/>
 		<result column="MEMBERNICKNAME" property="membernickname"/>
 		<result column="MEMBERGENDER" property="membergender"/>
 		<result column="MEMBERSIGNDATE" property="membersigndate"/>
 		<result column="MEMBERAUTH" property="memberauth"/>
 		<result column="MEMBERFAVORITE1" property="memberhob1"/>
 		<result column="MEMBERFAVORITE2" property="memberhob2"/>
 		<result column="MEMBERFAVORITE3" property="memberhob3"/>
 	</resultMap>	
 	
</mapper>