<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member" >

	<select id = "loginchk"  parameterType = "pkg.member.MemberVO" statementType = "CALLABLE">
		{
			call PKG_MEMBER.PROC_MEMEBER_LOGIN(
				#{mid, jdbcType = VARCHAR, mode = IN}
				,#{mpass, jdbcType = VARCHAR, mode = IN}
				,#{result, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{error, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{error2, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				 
			)
		}
	
	</select>
	
	<select id = "chk"  parameterType = "pkg.member.MemberVO" statementType = "CALLABLE">
		{
			call PKG_MEMBER.PROC_MEMBER_CHK(
				#{mid, jdbcType = VARCHAR, mode = IN}
				,#{mnickname, jdbcType = VARCHAR, mode = IN}
				,#{result, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{error, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{error2, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				
			)
		}
	
	</select>
	
	
	<select id = "insmem"  parameterType = "pkg.member.MemberVO" statementType = "CALLABLE">
		{
			call PKG_MEMBER.PROC_MEMBER_INS (
				#{mid, jdbcType = VARCHAR, mode = IN}
				,#{mpass, jdbcType = VARCHAR, mode = IN}
				,#{mprofile, jdbcType = VARCHAR, mode = IN}
				,#{mnickname, jdbcType = VARCHAR, mode = IN}
				,#{mbirth, jdbcType = VARCHAR, mode = IN}
				,#{mgender, jdbcType = VARCHAR, mode = IN}			
				,#{mhob1, jdbcType = VARCHAR, mode = IN}
				,#{mhob2, jdbcType = VARCHAR, mode = IN}
				,#{mhob3, jdbcType = VARCHAR, mode = IN}
				,#{result, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{error, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				,#{error2, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
				
			)
		}
	
	</select>
	
	
</mapper>