<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movie" >
    <select id="searchMovieList" resultMap="searchMovieMap" parameterType="pkg.movie.MovieVO" statementType="CALLABLE">
        {call PKG_MOVIE.PROC_SEARCH_MOVIE(
            #{keyword, jdbcType=VARCHAR, mode=IN}
            ,#{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=searchMovieMap}
            ,#{errCode, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
            ,#{errMsg, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
            )}
    </select>

    <resultMap id="searchMovieMap" type="pkg.movie.MovieVO">
        <result property="docId" column="DOCID"></result>
        <result property="title" column="TITLE"></result>
        <result property="titleEng" column="TITLEENG"></result>
        <result property="nation" column="NATION"></result>
        <result property="company" column="COMPANY"></result>
        <result property="plot" column="PLOT"></result>
        <result property="runtime" column="RUNTIME"></result>
        <result property="genre" column="GENRE"></result>
        <result property="posters" column="POSTERS"></result>
        <result property="keywords" column="KEYWORDS"></result>
        <result property="releaseDate" column="RELEASEDATE"></result>
    </resultMap>

    <!-- 나중에 세부페이지에 들어갈 정보 더 생기면 resultMap 수정 -->
    <select id="getMovieInfo" resultMap="searchMovieMap" parameterType="pkg.movie.MovieVO" statementType="CALLABLE">
        {call PKG_MOVIE.PROC_SEL_MOVIE(
            #{docId, jdbcType=VARCHAR, mode=IN}
            ,#{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=searchMovieMap}
            )}
    </select>


</mapper>