<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="movie" >

	    <select id="selectMovieList" resultMap= "Pkg.Movie.maps.movieMap" parameterType= "pkg.movie.MovieVO" statementType="CALLABLE">
		 {
		 	call PKG_MOVIE.PROC_SEARCH_MOVIE(
		 		#{keyword, jdbcType = VARCHAR, mode = IN}
		 		,#{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=Pkg.Movie.maps.movieMap}
		 	)
		 }
		</select>
		<select id="insertMovieList" resultMap= "Pkg.Movie.maps.movieMap" parameterType= "pkg.movie.MovieVO" statementType="CALLABLE">
		 {
		 	call PKG_MOVIE.PROC_INS_MOVIE(
		 		#{docId, jdbcType = VARCHAR, mode = IN}
		 		,#{title, jdbcType = VARCHAR, mode = IN}
		 		,#{titleEng, jdbcType = VARCHAR, mode = IN}
		 		,#{titleEtc, jdbcType = VARCHAR, mode = IN}
		 		,#{nation, jdbcType = VARCHAR, mode = IN}
		 		,#{company, jdbcType = VARCHAR, mode = IN}
		 		,#{prodyear, jdbcType = VARCHAR, mode = IN}
		 		,#{plot, jdbcType = VARCHAR, mode = IN}
		 		,#{runtime, jdbcType = VARCHAR, mode = IN}
		 		,#{genre, jdbcType = VARCHAR, mode = IN}
		 		,#{posters, jdbcType = VARCHAR, mode = IN}
		 		,#{keywords, jdbcType = VARCHAR, mode = IN}
		 		,#{result, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=Pkg.Movie.maps.movieMap}
		 	)
		 }
		</select>
		
		
		<select id="TESTMovieList" resultMap= "Pkg.Movie.maps.movieMap" parameterType= "pkg.movie.MovieVO" statementType="CALLABLE">
		 {
		 	call PKG_MOVIE.PROC_INS_MOVIE_TEST(
		 		#{DOCID, jdbcType = VARCHAR, mode = IN}
		 		,#{title, jdbcType = VARCHAR, mode = IN}
		 		,#{titleEng, jdbcType = VARCHAR, mode = IN}
		 		,#{titleEtc, jdbcType = VARCHAR, mode = IN}
		 		,#{nation, jdbcType = VARCHAR, mode = IN}
		 		 ,#{company, jdbcType = VARCHAR, mode = IN}
		 		,#{prodYear, jdbcType = VARCHAR, mode = IN}
		 	    ,#{plots, jdbcType = VARCHAR, mode = IN}
		 		,#{runtime, jdbcType = VARCHAR, mode = IN}
		 		,#{genre, jdbcType = VARCHAR, mode = IN}	 		
		 		,#{posters, jdbcType = VARCHAR, mode = IN}
		 		,#{keywords, jdbcType = VARCHAR, mode = IN}
		 		,#{releaseDate, jdbcType = VARCHAR, mode = IN}	
		 		,#{sqlCode, mode=OUT, jdbcType=VARCHAR, javaType=string}
		 		,#{sqlErrm, mode=OUT, jdbcType=VARCHAR, javaType=string}
		 		,#{ErrMsg, mode=OUT, jdbcType=VARCHAR, javaType=string}
		 	)
		 }
		</select>




</mapper>